.col-md-8
  %p{:style => "margin-top: 2em;"}
    %span{:style => "font-weight: bold; font-size: 200%;"}= h @doc_version.name
    (#{h @doc_version.doc_template.name})
  %table.table.doc_attrs{:style => "margin-top: .75em;"}
    - @doc_version.attrs.each do |attr|
      - if @doc_version.previous_version
        - prev_attr = @doc_version.previous_version.attrs.find { |prev_attr| prev_attr.slug == attr.slug }
        - diff_content = capture do
          .version-diff{class: attr_class(attr)}
            = diff_sanitized(prev_attr.value, attr.value)
        = attr_row(attr, diff_content)
      - else
        = attr_row(attr)
  #doc_content.document_content
    - if @doc_version.previous_version
      .version-diff
        = diff_sanitized @doc_version.previous_version.content, @doc_version.content
    - else
      = Sanitize.clean(@doc_version.content, Sanitize::Config::VELLUM).try(:html_safe)
.col-md-4
  = render 'sidebar'
