<div class="external_view">
    <div class="summary">
		<div class="actions">
	      <% link_to(structure_path(@project, structure), :class => "button edit") do -%>
	            <%= image_tag "structure.png" %> Details
          <% end -%>
		  <% if structure.blurb.nil? -%>
		    <button class="edit" style="margin-right: 0.5em;"
			    id="structure_<%=structure.id%>_add_description" 
				onClick="$('structure_<%=structure.id%>_blurb_display').show();
						 $('structure_<%=structure.id%>_add_description').hide();
						 $('structure_<%=structure.id%>_blurb').jipeEditor.enterEditMode();
						">
		    	Add description
		    </button>
		  <% end -%>
		  <% if structure.structure_template.workflow -%>
			<% structure.obtain_workflow_status.workflow_step.leaving_transitions.each do |transition| -%>
			  <% link_to transition_structure_path(@project, structure, :workflow_transition_id => transition.id),
						 :class => "button transition", :method => "post", :style => "margin-right: 0.5em; float: right;" do %>
				<%= image_tag "workflow_transition.png" %>
				<%=h transition.name %>
  			  <% end -%>
			<% end -%>
		  <% end -%>
		</div>	
		<h3><%= jipe_editor_if_permitted structure, :name %></h3>
	    <span class="workflow_status">
  	        <% if structure.structure_template.workflow -%>
                <% ws = structure.obtain_workflow_status -%>
                (<% if ws.assignee %>Assigned to <%=h ws.assignee_name -%>,<% end %><%=h ws.workflow_step.name %>)
  	        <% end -%>
        </span>
	</div>
	<div id="structure_<%=structure.id%>_blurb_display"
		<% if structure.blurb.nil? -%>
			style="display: none;"
		<% end -%>>
		<%= jipe_editor structure, "blurb", :rows => 4 %>
	</div>
</div>