<div class="structure_external">
    <div style="margin-top: 0; overflow: auto;">
		<h3 style="display: inline;"><%= structure.name %></h3>
	    <span class="workflow_status">
  	        <% if structure.structure_template.workflow -%>
                <% ws = structure.obtain_workflow_status -%>
                (<% if ws.assignee %>Assigned to <%=h ws.assignee_name -%>,<% end %><%=h ws.workflow_step.name %>)
  	        <% end -%>
        </span>
		<div style="float: right;">
	      <% link_to(structure_path(@project, structure), :class => "button edit") do -%>
	            <%= image_tag "structure.png" %> Details
          <% end -%>
		  <% if structure.blurb.nil? -%>
		    <button class="edit" style="margin-right: 0.5em;"
			    id="structure_<%=structure.id%>_add_description" 
				onClick="$('structure_<%=structure.id%>_blurb_display').show();
						 $('structure_<%=structure.id%>_add_description').hide();
						 $('structure_<%=structure.id%>_blurb').jipeEditor.enterEditMode();
						">
		    	Add description
		    </button>
		  <% end -%>
		</div>			
	</div>
	<div id="structure_<%=structure.id%>_blurb_display"
		<% if structure.blurb.nil? -%>
			style="display: none;"
		<% end -%>>
		<%= jipe_editor structure, "blurb", :rows => 4 %>
	</div>
</div>