<div class="external_view">
    <div class="summary">
		<div class="actions">
	      <% link_to(structure_path(@project, structure), :class => "button edit") do -%>
	            <%= image_tag "structure.png" %> Details
          <% end -%>
		  <% if structure.blurb.nil? -%>
		    <button class="edit" style="margin-right: 0.5em;"
			    id="structure_<%=structure.id%>_add_description" 
				onClick="$('structure_<%=structure.id%>_blurb_display').show();
						 $('structure_<%=structure.id%>_add_description').hide();
						 $('structure_<%=structure.id%>_blurb').jipeEditor.enterEditMode();
						">
		    	Add description
		    </button>
		  <% end -%>
		</div>	
		<h3><%= jipe_editor_if_permitted structure, :name %></h3>
	    <span class="assignee">
  	        <% if structure.assignee -%>
                (Assigned to <%=h structure.assignee.name -%>)
  	        <% end -%>
        </span>
	</div>
	<div id="structure_<%=structure.id%>_blurb_display"
		<% if structure.blurb.nil? -%>
			style="display: none;"
		<% end -%>>
		<%= jipe_editor structure, "blurb", :rows => 4 %>
	</div>
</div>