<p><%= link_to "<- Back to #{@project.name}", project_path(@project) %></p>

<p style="margin-top: 2em;"><h1 style="display: inline;"><%=h @structure.name %></h1>
    (<%=h @structure.structure_template.name %>)</p>

<%= error_messages_for :structure %>

<% form_for(:structure, :url => project_structure_path(@project, @structure), :html => {:method => 'put'}) do |f| -%>
  <% @structure.structure_template.attrs.each do |attr| -%>
    <div class="attribute">
      <div class="attribute_name<% if attr.required %> required<%end%>">
	<%=h attr.name %>
      </div>
      <% av = @structure.attr_value(attr.name) -%>
      <%= text_field_tag "attr_values[#{av.id}]", av.value %>
    </div>
  <% end -%>
  <%= submit_tag %>
<% end -%>