<% form_for(:structure, :url => structure_path(@project, @structure), :html => {:method => 'put'}) do |f| -%>

<p style="margin-top: 2em;">
  <%= f.text_field :name, :style => "font-size: 200%; font-weight: bold;" %>
  (<%=h @structure.structure_template.name %>)</p>

<div class="jumpbox">
  <div class="navigation">
    <% link_to structure_path(@project, @structure), :class => "button cancel" do -%>
      <%= image_tag "arrow_left.png" %>
      Cancel editing
    <% end -%>
  </div>
    
  <h2><%= @structure.name %></h2>
  <p>
    <b>Template:</b> 
    <% link_to structure_template_path(@structure.project.template_schema, @structure.structure_template) do -%>
      <%= image_tag "template.png" %>
      <%= @structure.structure_template.name %>
    <% end -%>
  </p>
</div>

<%= error_messages_for :structure %>

  <%= render :partial => 'form' %>
<% end -%>
