<h1 style="margin-bottom: 2em;"><%=h @transition.name %> <%=h @structure.name %></h1>

<p>In order to <%=h @transition.name.downcase %> <%=h @structure.name %>, please answer the following questions:</p>

<% form_tag transition_structure_path(@project, @structure, :workflow_transition_id => @transition.id) do -%>
  <table>
    <% @required_options.each do |action, reqs| -%>
      <% unless reqs.empty? -%>
        <% if reqs.include?(:person_id) -%>
          <tr>
            <th><%= action.class.description %> to whom?</th>
            <td><%= select_tag "options[#{action.id}][person_id]", 
                    options_for_select([["", ""]] + @project.authors.sort_by { |a| a.name }.collect {|p| [p.name, p.id] },
                                       (params[:options] and params[:options][action.id]) ? params[:options][action.id][:person_id] : "") %></td>
          </tr>
        <% end -%>
      <% end -%>
    <% end -%>
  </table>
  
  <p style="margin-bottom: 2em;"></p>
  
  <%= submit_tag @transition.name, :class => "save" %>
<% end -%> 
  

