<h1><%=h @doc_value.name %> &mdash; Version History</h1>

<style type="text/css">
table.versions {
  max-width: 60em;
  width: 100%;
  border-collapse: collapse;
}

table.versions th {
  text-align: left;
}

table.versions thead tr {
  border-bottom: 1px black solid;
}

table.versions tbody tr.odd {
  background-color: #ddd;
}
</style>

<div class="jumpbox">
  <div class="navigation">
    <% link_to structure_path(@project, @structure), :class => "button back" do -%>
      <%= image_tag "arrow_left.png" %>
      <%=h @structure.name %>
    <% end -%>
  </div>

  <h2><%= @doc_value.name %></h2>
  <p>
    <b>Defined in template:</b> 
    <% link_to structure_template_path(@structure.project.template_schema, @structure.structure_template) do -%>
      <%= image_tag "template.png" %>
      <%= @structure.structure_template.name %>
    <% end -%>
  </p>
</div>
    
<table class="versions">
  <thead>
    <tr>
      <th>Number</th>
      <th>Author</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| -%>
      <tr class="<%= cycle "odd", "even" %>">
        <td><%= version.version %></td>
        <td><%= version.author_id && Person.find(version.author_id).name %></td>
        <td><%= version.updated_at.strftime("%a, %b %d, %Y at %H:%M") %></td>
        <td><%= link_to "View", doc_value_version_path(@project, @structure, @doc_value, version.version) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>