<h1><%= @project.name %></h1>

<h2>Templates</h2>

<div class="list-group">
  <%= itemlist_items(@doc_templates, :delete_path => doc_templates_path(@project)) do |t| %>
    <%= link_to doc_template_path(@project, t), :class => "list-group-item" do -%>
      <%= image_tag "template.png" %>
      <%= t.name %>
    <% end -%>
  <% end %>
  <%= link_to new_doc_template_path(@project), :class => "list-group-item list-group-item-success" do %>
    <%= image_tag "template_add.png" %>
    Add new template...
  <% end %>
</div>


