<h1><%= @project.name %></h1>

<h2>Templates</h2>

<ul class="list-group">
  <%= itemlist_items(@doc_templates) do |t| %>
    <li class="list-group-item">
      <ul class="list-inline">
        <li>
          <%= link_to doc_template_path(@project, t) do -%>
            <%= image_tag "template.png" %>
            <%= t.name %>
          <% end -%>
        </li>
        <li>
          <%= item_actions(t, :delete_path => doc_templates_path(@project)) %>
        </li>
      </ul>
    </li>
  <% end %>
  <li class="list-group-item list-group-item-success">
    <%= link_to new_doc_template_path(@project) do %>
      <%= image_tag "template_add.png" %>
      Add new template...
    <% end %>
  </li>
</ul>


