<div class="col-md-8">
  <h1><%= @doc_template.name %></h1>
  
  <h2>Template Fields</h2>
  
  <p>The following fields will appear on <strong>all</strong> <%= @doc_template.name.pluralize %>:</p>
  
  <table class="table table-striped table-bordered">
    <tr><th>Name</th><th>Type</th></tr>
    <%= render :partial => "doc_template_attr", :collection => @doc_template.doc_template_attrs %>
  </table>
  
  <h2>Relationship Types</h2>
  
  <p><%= @doc_template.name %>...</p>
  
  <div class="list-group">
    <%= itemlist_items(@relationship_types, :delete_path => relationship_types_path(@project)) do |typ| -%>
      <%= link_to edit_relationship_type_path(@project, typ), :class => "list-group-item" do -%>
	<%= image_tag "relationship_type.png" %>
	<%= typ.description_for(@doc_template) %>
	<%= typ.other_template(@doc_template).name %>
      <% end -%>
    <% end -%>
    
    <%= link_to(new_relationship_type_path(@project, :relationship_type => {:left_template_id => @doc_template.id}), :class => "list-group-item list-group-item-success") do %>
      <%= image_tag "relationship_type.png" %>
      Create relationship type...
    <% end -%>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><%=h @doc_template.name %>
      <%= link_to edit_doc_template_path(@project, @doc_template), :class => "btn btn-default btn-sm" do %>
        <%= image_tag "template_edit.png" %>
        Edit
      <% end -%>
    </div>
    <div class="panel-body">      
      <p>
        Part of
        <%= link_to @project do %>
          <%= image_tag "project.png" %>
          <%=h @project.name %>
        <% end -%>
      </p>
    </div>
  </div>
</div>
