<div class="jumpbox">
  <div class="navigation">
    <% link_to publication_templates_path(@project), :class => "button back" do -%>
      <%= image_tag "arrow_left.png" %> Publication
    <% end -%>
    <% if logged_in? and logged_in_person.permitted?(@project, "edit") -%>
      <% link_to edit_publication_template_path(@project, @publication_template), :class => "button edit" do -%>
        Edit
        <%= image_tag "publication_template_edit.png" %>
      <% end -%>
    <% end -%>
  </div>

  <h2><%=h @publication_template.name %></h2>
  <p><b>Output format:</b> <%= @publication_template.format.upcase %></p>
  <p>
    <% form_for :context, :url => test_publication_template_path(@project, @publication_template) do |f| %>
      <% if @publication_template.doc_template -%>
        <%= f.select :doc_id, @publication_template.doc_template.docs.collect { |d| [d.name, d.id] }%>
      <% end -%>
      <button class="transition">
        <%= image_tag "execute.png" %>
        Test
      </button>
    <% end -%>
  </p>
  
  <p>
    <% form_for :context, :url => publish_publication_template_path(@project, @publication_template) do |f| %>
      <button class="delete">
        <%= image_tag "publication.png" %>
        Publish
      </button>
    <% end -%>
  </p>
</div>