<h2> 
  Output from "<%=h @publication_template.name %>"
  <% if @doc -%>
    for "<%=h @doc.name %>"
  <% end -%>
</h2>

<%= render :partial => 'jumpbox' %>

<% if @error -%>
  <h3><%= @error.class.name %></h3>
  
  <p><%= @error.to_s %></p>
  
  <div class="code">
    <%=simple_format(h(@error.backtrace.join "\n")) %>
  </div>
<% else -%>
  <% if @publication_template.output_format == "html" -%>
    <iframe src="<%= @raw_preview_url %>" style="width: 100%; border: 1px black solid; height: 600px;">
      Your browser doesn't seem to support iframes; to preview the HTML output of this template, 
      <%= link_to "click here", @raw_preview_url %>.
    </iframe>
  <% end -%>
  
  <div class="code">
    <%=simple_format(h(@output)) %>
  </div>
<% end -%>