.col-md-8
  %p
    Maps let you create a visual diagram of the project.  You can choose a set of
    templates and see how they are connected to each other.
  %ul.sortlist.list-group{"data-url" => sort_maps_path(@project)}
    = sortlist_items(@project.maps, "maps") do |map|
      = render :partial => 'maps/show_external', :locals => { :map => map }
.col-md-4
  .panel.panel-default
    .panel-heading Create New Map
    .panel-body
      = form_for(:map, :url => maps_path(@project)) do |f|
        .form-group
          = f.label "name", :class => "control-label"
          = f.text_field "name", :class => "form-control"
        .form-group
          %button.btn.btn-primary
            = image_tag "map_add.png"
            Create map
