<%= in_place_editor @map, :name, :tag => "h1", :url => map_url(@project, @map, :format => 'json') %>

<%= in_place_editor @map, :blurb, :rows => 4, :url => map_url(@project, @map, :format => 'json') %>

<div class="jumpbox">
  <div class="navigation">
    <% link_to maps_path(@project), :class => "button back" do -%>
      <%= image_tag "arrow_left.png" %>
      Maps
    <% end -%>
  </div>
  
  <h2><%=h @map.name %></h2>  
    <% if logged_in? and logged_in_person.permitted?(@project, "edit") -%>
        <%= button_to "Delete", map_path(@project, @map), :method => "delete",
            :class => "delete", :confirm => "Are you sure you want to delete the #{@map.name} map?" %>
    <% end -%>

  <% if logged_in? and logged_in_person.permitted?(@project, "edit") -%>
    <h2>Documents</h2>
    <div id="docs">
      Include all...
      <ul class="itemlist">
        <% itemlist_items(@map.mapped_doc_templates,
                          :delete_path => mapped_doc_templates_path(@project, @map)) do |mdt| -%>
          <span style="font-weight: bold; color: <%= mdt.color %>;">
            <%=h mdt.doc_template && mdt.doc_template.name.pluralize %>
          </span>
        <% end -%>
        <li style="overflow: visible;">
          <% form_for :mapped_doc_template, :url => mapped_doc_templates_path(@project, @map) do |f| -%>
            <span style="float: right;">
              <%= submit_tag "Add", :class => "new" %>
            </span>
            <%= f.select "doc_template_id",
                         @project.doc_templates.reject { |t|
                              @map.doc_templates.include? t
                          }.collect { |t|
                              [t.plural_name, t.id]
                          } %>
            <%= color_picker(f, "color") %>
          <% end -%>
        </li>
      </ul>
    </div>
    
    <h2>Relationships</h2>
    <div id="relationships">
      Draw arrows for...
      <ul class="itemlist">
        <% itemlist_items(@map.mapped_relationship_types,
                          :delete_path => mapped_relationship_types_path(@project, @map)) do |mrt| -%>
          <span style="font-weight: bold; color: <%= mrt.color %>;">
            <%=h mrt.relationship_type && mrt.relationship_type.left_name %>
          </span>
        <% end -%>
        <li style="overflow: visible;">
          <% form_for :mapped_relationship_type, :url => mapped_relationship_types_path(@project, @map) do |f| -%>
            <span style="float: right;">
              <%= submit_tag "Add", :class => "new" %>
            </span>
            <%= f.select "relationship_type_id",
                         @project.relationship_types.reject { |t|
                              @map.relationship_types.include? t
                          }.collect { |t|
                              [t.left_name, t.id]
                          } %>
            <%= color_picker(f, "color") %>
          <% end -%>
        </li>
      </ul>
    </div>
  <% end -%>
</div>

<p>
  <%= image_tag "map_download.png" %> Download map:
  <%= link_to "PDF", map_path(:format => "pdf") %>
  <%= link_to "SVG", map_path(:format => "svg") %>
</p>
    
<!--[if IE]>
<object src="<%=map_path(:format => "svg") %>" classid="image/svg+xml"
        width="100%">
<![endif]-->
<!--[if !IE]-->
<object data="<%=map_path(:format => "svg") %>" type="image/svg+xml"
        width="100%">
<!--<![endif]-->
</object>