<script type="text/javascript">
  Resource.model("Workflow", {format: 'json'});
</script>

<h1><%= jipe_editor(@workflow, "name") %></h1>

<div class="jumpbox">
  <div class="navigation">
    <% link_to workflows_path, :class => "button back" do %>
      <%= image_tag "arrow_left.png" %>
      Workflows
    <% end -%>
    <% if logged_in_person.permitted?(@workflow, "edit") -%>
      <% link_to edit_workflow_path(@workflow), :class => "button edit" do -%>
        Properties
        <%= image_tag "workflow_edit.png" %>
      <% end -%>
    <% end -%>
  </div>

  <h2><%=h @workflow.name %></h2>
</div>

<h2>Steps</h2>

<% sortlist(@workflow.workflow_steps, "workflow_steps", :url => workflow_steps_path(@workflow) + '/sort') do |step| -%>
  <% complex_item(:id => "workflow_step_#{step.id}", :name => "#{image_tag 'workflow_step.png'} #{h(step.name)}", 
  				  :delete_path => workflow_step_path(@workflow, step)) do %>
    <ul class="itemlist">
      <% itemlist_items(step.leaving_transitions, :delete_path => workflow_transitions_path(@workflow, step)) do |transition| -%>
        <span style="display: -moz-inline-block; display: inline-block; width: 50%;">
          <% link_to workflow_transition_path(@workflow, step, transition) do %>
	    <%= image_tag "workflow_transition.png" %>
  	    <%=h transition.name %>
 	  <% end -%>
        </span>
	<%= image_tag "arrow_right.png", :alt => "->" %>
	<%= transition.to.name %>
      <% end -%>
      <li>
	<% form_for(:workflow_transition, :url => workflow_transitions_path(@workflow, step)) do |f| -%>
	  <div style="float: right">
	    <button class="new">
	      <%= image_tag "workflow_transition.png" %>
	      Add transition...
	    </button>
	  </div>
	  <span style="display: -moz-inline-block; display: inline-block; width: 50%;">
	    <%= f.hidden_field "from_id", :value => step.id %>
	    <%= f.text_field "name" %>
	  </span>
	  <%= image_tag "arrow_right.png" %>
	  <%= f.select "to_id", @workflow.workflow_steps.select { |s| s != step }.collect { |s| [s.name, s.id] } %>
	<% end -%>
      </li>
    </ul>
  <% end -%>
<% end -%>

<% form_for(:workflow_step, :url => workflow_steps_path(@workflow)) do |f| %>
  <%= f.text_field "name" %>
  <button class="new">
    <%= image_tag "workflow_step_add.png" %>
    Add step
  </button>
<% end -%>
