<p style="margin-top: 2em;">
  <b><%= f.label :name, "Document Name" %></b><br/>
  <%= f.text_field :name, :style => "font-size: 200%; font-weight: bold; width: 99%;" %>
</p>

<%= error_messages_for :doc, :object => f.object %>

<dl class="doc_attrs">
  <% f.fields_for :attrs do |attr_fields| %>
    <%= edit_attr_row(attr_fields) %>
  <% end -%>
</dl>

<%= f.text_area :content, :class => "mceEditor", :style => "width: 100%;" %>