<%= error_messages_for f.object %>

<div class="form-group">
  <%= f.label :name, "Document Name", :class => "control-label" %>
  <%= f.text_field :name, :class => "form-control input-lg" %>
</div>

<div class="form-group">
  <label class="control-label">Fields</label>
  <table class="doc_attrs table table-striped">
    <%= f.fields_for :attrs do |attr_fields| %>
      <%= edit_attr_row(attr_fields) %>
    <% end -%>
    
    <%= f.fields_for :attrs_attributes, nil do |outer_fields| -%>
      <%= outer_fields.fields_for '99999', Attr.new(:doc => @doc) do |attr_fields| %>
        <%= edit_attr_row(attr_fields) %>
      <% end -%>
    <% end -%>
  </table>
</div>

<div class="form-group">
  <div class="vellumAutoResizeWym">
    <%= wysihtml5_editor f, :content, :style => "width: 100%;", :class => "form-control" %>
  </div>
</div>
