<p style="margin-top: 2em;">
  <b><%= f.label :name, "Document Name" %></b><br/>
  <%= f.text_field :name, :style => "font-size: 200%; font-weight: bold; width: 99%;" %>
</p>

<%= error_messages_for :doc, :object => f.object %>

<dl class="doc_attrs">
  <% f.fields_for :attrs do |attr_fields| %>
    <% unless f.object.new_record? || attr_fields.object.from_template? -%>
      <span style="float: right; color: red; font-weight: bold; margin-right: 10px;">
        <%= attr_fields.label(:_destroy, "Remove") %>
        <%= attr_fields.check_box(:_destroy, :class => "delete") %>
      </span>
    <% end -%>
    <%= edit_attr_row(attr_fields) %>
  <% end -%>
</dl>

<div class="vellumAutoResizeWym">
  <%= f.text_area :content, :class => "wymeditor", :style => "width: 100%;" %>
</div>