<p style="margin-top: 2em;">
  <b><%= f.label :name, "Document Name" %></b><br/>
  <%= f.text_field :name, :style => "font-size: 200%; font-weight: bold; width: 99%;" %>
</p>

<% if f.object.errors.any? -%>
  <div class="error_messages">
    <% f.object.errors.full_messages.each do |msg| -%>
      <li><%= msg %></li>
    <% end -%>
  </div>
<% end -%>

<table class="doc_attrs">
  <%= f.fields_for :attrs do |attr_fields| %>
    <%= edit_attr_row(attr_fields) %>
  <% end -%>
  
  <%= f.fields_for :attrs_attributes, nil do |outer_fields| -%>
    <%= outer_fields.fields_for '99999',  Attr.new(:doc => @doc) do |attr_fields| %>
      <%= edit_attr_row(attr_fields) %>
    <% end -%>
  <% end -%>
</table>

<div class="vellumAutoResizeWym">
  <%= f.text_area :content, :class => "wymeditor", :style => "width: 100%;" %>
</div>