= form_for @project.relationships.new, { :html => {'data-project-url' => project_url(@project), :class => "vellumRelationshipBuilder"} } do |f|
  = f.hidden_field :source_id, :value => doc.id
  = f.select :relationship_type_id_and_source_direction, [["", ""]] + relationship_types_for_select(doc.doc_template, @relationship_types), {}, { :class => "form-control" }
  = f.select :target_id, ([["New document...", "new"]] + @project.docs.collect { |doc| [doc.name, doc.id] }), {}, { :class => "form-control" }
  %button.btn.btn-primary
    = image_tag "relationship_add.png"
    Add
