<% form_for(@doc, :url => doc_path(@project, @doc), :html => {:method => 'put'}) do |f| -%>

<div class="jumpbox">
  <div class="navigation">
    <% link_to doc_path(@project, @doc), :class => "button cancel" do -%>
      <%= image_tag "arrow_left.png" %>
      Cancel editing
    <% end -%>
    <button type="submit" class="edit wymupdate">
      Save changes
      <%= image_tag "structure_edit.png" %>
    </button>
  </div>
    
  <h2><%= @doc.name %></h2>
  <p>
    <b>Template:</b> 
    <% link_to doc_template_path(@doc.project, @doc.doc_template) do -%>
      <%= image_tag "template.png" %>
      <%= @doc.doc_template.name %>
    <% end -%>
  </p>

  <h2>Related</h2>
  <div id="relationships">
    <%= @doc.name %>...
    <ul class="itemlist">
      <% itemlist_items(@doc.relationships) do |rel| -%>
        <%= rel.description_for(@doc) %>
        <%= link_to rel.other(@doc).name, doc_path(@project, rel.other(@doc)), :target => "_blank" %>
      <% end -%>
    </ul>
  </div>
</div>

<%= render :partial => 'form', :locals => { :f => f } %>
<% end -%>

<script type="text/javascript">
  jQuery(function() {
    jQuery('#relationships a[target=_blank]').vellumDocSummaryPopup();
    jQuery('table.doc_attrs').vellumAttrList();
  });
</script>