<%= form_for(@doc, :url => docs_path(@project)) do |f| -%>
  <div class="jumpbox">
    <div class="navigation">
      <%= link_to project_path(@project), :class => "button cancel" do -%>
        <%= image_tag "arrow_left.png" %>
        Cancel
      <% end -%>
      <button type="submit" class="edit wymupdate">
        Create <%= @doc.doc_template.name %>
        <%= image_tag "structure_add.png" %>
      </button>
    </div>
    
    <h2>New document</h2>
    <p>
      <b>Template:</b> 
      <%= link_to doc_template_path(@doc.project, @doc.doc_template) do -%>
        <%= image_tag "template.png" %>
        <%= @doc.doc_template.name %>
      <% end -%>
    </p>
  </div>

  <%= hidden_field_tag "template_id", @doc.doc_template.id %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end -%>

<script type="text/javascript">
  jQuery(function() {
    jQuery('table.doc_attrs').vellumAttrList();
  });
</script>