<%= form_for(@doc, :url => docs_path(@project)) do |f| -%>
  <div class="col-md-8">
    <%= hidden_field_tag "template_id", @doc.doc_template.id %>
    <%= render :partial => "form", :locals => { :f => f } %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">New Document</div>
      <div class="panel-body">
        <p>
          <b>Template:</b> 
          <%= link_to doc_template_path(@doc.project, @doc.doc_template) do -%>
            <%= image_tag "template.png" %>
            <%= @doc.doc_template.name %>
          <% end -%>
        </p>
        <div class="navigation">
          <%= link_to project_path(@project), :class => "btn btn-default" do -%>
            <%= image_tag "arrow_left.png" %>
            Cancel
          <% end -%>
          <button type="submit" class="btn btn-primary" style="float: right;">
            Create <%= @doc.doc_template.name %>
            <%= image_tag "structure_add.png" %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end -%>

<script type="text/javascript">
  jQuery(function() {
    jQuery('table.doc_attrs').vellumAttrList();
  });
</script>
