<div class="col-md-8">
  <p style="margin-top: 2em;">
    <span style="font-weight: bold; font-size: 200%;"><%=h @doc.name %></span>
    (<%=h @doc.doc_template.name %>)</p>
  
  <table style="margin-top: .75em;" class="table doc_attrs">
    <% @doc.attrs.each do |attr| -%>
      <%= attr_row(attr) %>
    <% end -%>
  </table>
  
  <div class="document_content" id="doc_content">
    <%= Sanitize.clean(@doc.content, Sanitize::Config::VELLUM).try(:html_safe) %>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%=h @doc.name %>
        <% if can?(:edit, @doc) -%>
          <%= link_to edit_doc_path(@project, @doc), :class => "btn btn-default btn-sm" do -%>
            Edit
            <%= image_tag "structure_edit.png" %>
          <% end -%>
        <% end -%>
    </div>
    <div class="panel-body">
      <ul class="pager">
        <li class="previous">
          <% if @prev_doc -%>
            <%= link_to "<< #{@prev_doc.name}", doc_path(@prev_doc.project, @prev_doc) %>
          <% end -%>
        </li>
        <li class="next">
          <% if @next_doc -%>
            <%= link_to "#{@next_doc.name} >>", doc_path(@next_doc.project, @next_doc) %>
          <% end -%>
        </li>
      </ul>
      
      <div class="form-group">
        <label class="control-label">Template:</label>
        <%= link_to doc_template_path(@doc.project, @doc.doc_template) do -%>
          <%= image_tag "template.png" %>
          <%= @doc.doc_template.name %>
        <% end -%>
      </div>
        
      <div class="form-group">
        <%= form_for @doc, :url => doc_path(@project, @doc), :html => {:class => "assignee"} do |f| -%>
          <%= f.label "assignee_id", "Assigned to", :class => "control-label" %>
          <%= f.select "assignee_id", [["nobody", ""]] + @project.authors.sort_by { |a| a.name }.collect {|p| [p.name, p.id] }, 
          {:include_blank => false, :selected => (@doc.assignee ? @doc.assignee_id : "")}, {:class => "form-control"} %>
          
          <button class="btn btn-primary">
            <%= image_tag "workflow_transition.png" %>
            Reassign
          </button>
        <% end -%>
      </div>
      <div class="form-group">
        <%= button_to "Copy #{@doc.name}", copy_doc_path(@project, @doc), :class => "btn btn-success", :method => "post" %>
      </div>
      <div class="form-group">
        <% if can?(:destroy, @doc) -%>
          <%= button_to "Delete #{@doc.name}", doc_path(@project, @doc), :method => "delete",
          :class => "btn btn-danger", :confirm => "Are you sure you want to delete #{@doc.name}?" %>
        <% end -%>
      </div>
      
      <div class="form-group">
        <label class="control-label">Related</label>
        <div id="relationships">
          <%= @doc.name %>...
          <ul>
            <%= itemlist_items(@relationships) do |rel| -%>
              <li>
                <ul class="list-inline">
                  <li>
	            <%= rel.description_for(@doc) %>
	            <%= link_to rel.other(@doc).name, doc_path(@project, rel.other(@doc)) %>
                  </li>
                  <li>
                    <%= item_actions(rel, :delete_path => relationships_path(@project)) %>
                  </li>
                </ul>
              </li>
            <% end -%>
          </ul>
        </div>
      </div>
      <div class="form-group">
	<%= render :partial => 'new_relationship', :locals => { :doc => @doc } %>
      </div>  
    </div>
  </div>
</div>
