<p style="margin-top: 2em;">
  <span style="font-weight: bold; font-size: 200%;"><%=h @doc.name %></span>
    (<%=h @doc.doc_template.name %>)</p>

<div class="jumpbox">
  <div class="navigation">
    <%= link_to project_path(@project), :class => "button back" do -%>
      <%= image_tag "arrow_left.png" %>
      <%=h @project.name %>
    <% end -%>
    <% if can?(:edit, @doc) -%>
      <% link_to edit_doc_path(@project, @doc), :class => "button edit" do -%>
        Edit
        <%= image_tag "structure_edit.png" %>
      <% end -%>
    <% end -%>
  </div>
  <table style="border: 0; border-collapse: collapse; width: 100%;">
    <tr>
      <td style="text-align: left;">
        <% if @prev_doc -%>
          <%= link_to "<< #{@prev_doc.name}", doc_path(@prev_doc.project, @prev_doc) %>
        <% end -%>
      </td>
      <td style="text-align: right;">
        <% if @next_doc -%>
          <%= link_to "#{@next_doc.name} >>", doc_path(@next_doc.project, @next_doc) %>
        <% end -%>
      </td>
    </tr>
  </table>

  <h2><%=h @doc.name %></h2>
  <p>
    <b>Template:</b> 
    <%= link_to doc_template_path(@doc.project, @doc.doc_template) do -%>
      <%= image_tag "template.png" %>
      <%= @doc.doc_template.name %>
    <% end -%>
  <%= form_for @doc, :url => doc_path(@project, @doc), :html => {:class => "assignee"} do |f| -%>
    <%= f.label "assignee_id", "Assigned to" %>
    <%= f.select "assignee_id", [["nobody", nil]] + @project.authors.sort_by { |a| a.name }.collect {|p| [p.name, p.id] },
                 :include_blank => false %>
    
    <button class="transition">
        <%= image_tag "workflow_transition.png" %>
        Reassign
    </button>
  <% end -%>
	<% if can?(:destroy, @doc) -%>
		<br/>
		<%= button_to "Delete #{@doc.name}", doc_path(@project, @doc), :method => "delete",
			:class => "delete", :confirm => "Are you sure you want to delete #{@doc.name}?" %>
	<% end -%>
  </p>

  <h2>Related</h2>
  <div id="relationships">
    <%= @doc.name %>...
    <ul class="itemlist">
      <% itemlist_items(@relationships, :delete_path => relationships_path(@project)) do |rel| -%>
		<%= rel.description_for(@doc) %>
		<%= link_to rel.other(@doc).name, doc_path(@project, rel.other(@doc)) %>
	  <% end -%>
      <li>
	<%= render :partial => 'new_relationship', :locals => { :doc => @doc } %>
      </li>
    </ul>
  </div>  
</div>
    
<table style="margin-top: .75em;" class="doc_attrs">
    <% @doc.attrs.each do |attr| -%>
		  <%= attr_row(attr) %>
    <% end -%>
</table>

<div class="document_content" id="doc_content">
  <%= @doc.content %>
</div>
