.col-md-8
  = error_messages_for f.object
  .form-group
    = f.label :name, "Spreadsheet Name", :class => "control-label"
    = f.text_field :name, :class => "form-control"
  .form-group
    = f.label :doc_template_id, "Contains:", :class => "control-label"
    = f.select :doc_template_id, @project.doc_templates.collect {|t| [t.name, t.id]}, {}, { :class => "form-control" }
  .form-group
    = f.label :attr_names_commasep, "Attribute Names", :class => "control-label"
    = f.text_field :attr_names_commasep, :class => "form-control"
  .form-group
    = submit_tag btn_text, :class => "btn btn-primary"
.col-md-4
  .panel.panel-default
    .panel-body
      %p
        CSV exports allow you to quickly get a spreadsheet dump of all the documents based on a particular
        template.  You can select which attributes of the document to export.
      %p
        The spreadsheet can be opened using Excel, Numbers, Google Docs, OpenOffice, or any other
        spreadsheet program.  It can also be used in word processing programs with a "Mail Merge" feature,
        such as Word, OpenOffice, or Pages.
