<h1><%= @project.name %></h1>

<h2>CSV Exports</h2>

<ul class="itemlist">
  <%= itemlist_items(@csv_exports,
                    :delete_path => csv_exports_path(@project)) do |csv_export| %>
    <%= link_to(csv_export_path(@project, csv_export)) do -%>
      <%= image_tag "csv_export.png" %>
      <%= csv_export.name %>
    <% end -%>
  <% end %>
  <li>
    <%= link_to new_csv_export_path(@project), :class => "button new" do %>
      <%= image_tag "csv_export_add.png" %>
      Create new CSV export...
    <% end %>
  </li>
</ul>
