<ul class="list-group">
  <%= itemlist_items(projects) do |project| %>
    <li class="list-group-item">
      <ul class="list-inline">
        <li>
          <%= link_to project_path(project) do -%>
            <%= image_tag "project.png" %>
            <%= project.name %>
          <% end -%>
        </li>
        <li>
          <%= item_actions(project, :delete_path => projects_path) %>
        </li>
      </ul>
    </li>
  <% end %>
  <% if person_signed_in? -%>
    <li class="list-group-item list-group-item-success">
      <%= link_to new_project_path do %>
        <%= image_tag "project_add.png" %>
        Create project...
      <% end %>
    </li>
  <% end -%>
</ul>