<h1>Projects</h1>

<% if current_person.try(:admin?) -%>
  <div class="jumpbox">
    <div class="navigation">
      <%= link_to({ :controller => "about", :action => "edit_settings" }, :class => "button edit") do %>
        Edit site settings
      <% end -%>
    </div>

    <h2><%= @site_settings.site_name %></h2>

    <dl>
      <dt>Color</dt>
      <dd><%= @site_settings.site_color %></dd>
      <dt>Site email</dt>
      <dd><%= @site_settings.site_email %></dd>
      <dt>Admin</dt>
      <dd><%= @site_settings.admin && @site_settings.admin.name %></dd>
    </dl>
  </div>
<% end -%>

<% if @site_settings.welcome_html.blank? -%>
  <h1>Welcome to Vellum</h1>

  <p>Vellum is a collaborative space for online writing projects.</p>
<% else -%>
  <%= @site_settings.welcome_html %>
<% end -%>

<div class="container">
  <div class="list-group">
  <%= itemlist_items(@projects, :delete_path => projects_path) do |project| %>
    <%= link_to project_path(project), :class => "list-group-item" do -%>
      <%= image_tag "project.png" %>
      <%= project.name %>
      <%= content_tag(:button, {:class => "btn btn-danger", :style => "float: right;"}) do -%>
      Delete
      <% end -%>
    <% end -%>
  <% end %>
  <% if person_signed_in? -%>
  <%= link_to new_project_path, :class => "btn btn-default" do %>
  <%= image_tag "project_add.png" %>
  Create project...
  <% end %>
  <% end -%>
  </div>
</div>


<% unless person_signed_in? -%>
<p>To see your projects, please <%= link_to "log in", new_person_session_path %>.</p>
<% end -%>
