<div class="col-md-8">
  <h1>Projects</h1>

  <% if @site_settings.welcome_html.blank? -%>
    <h1>Welcome to Vellum</h1>

    <p>Vellum is a collaborative space for online writing projects.</p>
  <% else -%>
    <%= @site_settings.welcome_html %>
  <% end -%>

  <% if @other_projects.present? -%>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#my-projects" role="tab" data-toggle="tab">My projects</a></li>
      <li><a href="#other-projects" role="tab" data-toggle="tab">Other projects</a></li>
    </ul>
    
    <div class="tab-content" style="margin-top: 5px">
      <div class="tab-pane active" id="my-projects"><%= render partial: "list", locals: { projects: @my_projects } %></div>
      <div class="tab-pane" id="other-projects"><%= render partial: "list", locals: { projects: @other_projects } %></div>      
    </div>
  <% else -%>
    <%= render partial: "list", locals: { projects: @my_projects } %>
  <% end -%>

  <% unless person_signed_in? -%>
    <p>To see your projects, please <%= link_to "log in", new_person_session_path %>.</p>
  <% end -%>
</div>

<% if current_person.try(:admin?) -%>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left" style="padding-top: 5px">
          <%= @site_settings.site_name %>
        </div>
        <div class="navbar-right">
          <%= link_to({ :controller => "about", :action => "edit_settings" }, :class => "btn btn-default btn-sm") do %>
            Edit site settings
          <% end -%>
        </div>
      </div>
    
      <div class="panel-body">
        <dl>
          <dt>Color</dt>
          <dd><%= @site_settings.site_color %></dd>
          <dt>Site email</dt>
          <dd><%= @site_settings.site_email %></dd>
          <dt>Admin</dt>
          <dd><%= @site_settings.admin && @site_settings.admin.name %></dd>
        </dl>
      </div>
    </div>
  </div>
<% end -%>


