<% form_for(:project, @project, :url => projects_url) do |f| %>
  <%= f.error_messages %>

  <h1>Create a Project</h1>

  <div class="cardform">
    <p>
      <b><%= f.label :name, "Project Name" %></b><br/>
      <%= f.text_field :name, :style => "font-size: 200%; font-weight: bold; width: 99%;" %>
    </p>

    <div class="callout">
    <% if @projects.size > 0 -%>
      <h2>Get started faster</h2>
      <p>
        If you want, you can use some templates from an existing project as a starting point.  This will
        let you start writing documents using some pre-existing formats.  You'll have your own copies of
        the templates in your project, and can edit them without affecting the original project.
      </p>
      <p>
        If you don't copy templates from an existing project, you'll have to create some of your own.
      </p>

      <p style="font-weight: bold;">
        <%= f.label "template_source_project_id", "Choose a project to copy templates from:" %>
        <%= f.select "template_source_project_id", [["I will make my own templates.", ""]] + @projects.collect {|p| [p.name, p.id]} %>
      </p>
    <% else -%>
      <h2>Getting started</h2>
      
      <p>
        Once you hit "Create", you'll have an empty project.  Before you can get started writing, you'll
        need to create some templates to use.  There will be instructions on the project page about how
        to do that.
      </p>
    <% end -%>
    </div>

    <div class="submit">
      <%= link_to "Back", projects_path, :class => "button cancel" %>
      <button type="submit" class="new">
        Create
      </button>
    </div>
  </div>
<% end -%>