%h1 Site settings
= form_for @site_settings, :url => {:action => "update_settings"}, :html => {:role => "form"} do |f|
  .form-group
    = f.label :site_name
    = f.text_field :site_name, class: "form-control"
  .form-group
    = f.label :site_color
    = f.text_field :site_color, class: "form-control"
  .form-group
    = f.label :site_email, "Site email address"
    = f.text_field :site_email, class: "form-control"
  .form-group
    = f.label :welcome_html, "Welcome page"
    = f.text_area :welcome_html, class: "form-control", style: "font-family: monospace"
  = submit_tag "Save changes", :class => "btn btn-primary"
