<h1>Site settings</h1>

<% form_for @site_settings, :url => {:action => "update_settings"} do |f| -%>
  <table>
    <tr>
      <th>Site name</th>
      <td><%= f.text_field :site_name %></td>
    </tr>
    <tr>
      <th>Site color</th>
      <td><%= f.text_field :site_color %></td>
    </tr>
    <tr>
      <th>Site email address</th>
      <td><%= f.text_field :site_email %></td>
    </tr>
    <tr>
      <th>Site administrator</th>
      <td><%= user_picker "site_settings[admin_kid]", :default => @site_settings.admin, :clear_after => false %></td>
    </tr>
    <tr>
      <th>Welcome page</th>
      <td>
        <%= text_area_tag "site_settings[welcome_html]", @site_settings.welcome_html, :class => "mceEditor" %>
      </td>
    </tr>
  </table>
  <%= submit_tag "Save changes", :class => "save" %>
<% end -%>