<p><h1 style="display: inline;"><%=h @workflow_transition.name %></h1>
  (<%=h @from.name %> <%= image_tag "arrow_right.png", :alt => "->" %> <%=h @workflow_transition.to.name %>)</p>

<% form_for(@workflow_transition, :url => workflow_transition_path(@workflow, @from, @workflow_transition)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
