<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :name, "Relationship Type", :class => "control-label" %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    
    <%= f.hidden_field :left_template_id %>
    <%= f.hidden_field :right_template_id %>
    
    <div class="form-group">
      <h2>Phrasing</h2>
      
      <span class="help-block">When a <%= @relationship_type.left_template.name %> is connected to a
        <%= @relationship_type.right_template.name %> via this relationship type, how should Vellum
        phrase that connection?  Please fill in the fields below to describe the relationship.</span>
    </div>
    
    <div class="form-group">
      <%= f.label :left_description, a_template_name(@relationship_type.left_template).titleize, :class => "control-label" %>
      <%= f.text_field :left_description, :class => "form-control" %>
      <%= a_template_name(@relationship_type.right_template) %>
    </div>
    
    <div class="form-group">
      <%= f.label :right_description, "And #{a_template_name(@relationship_type.right_template)}", :class => "control-label" %>
      <%= f.text_field :right_description, :class => "form-control" %>
      <%= a_template_name(@relationship_type.left_template) %>
    </div>
    
    <div class="form-group">
      <%= link_to :back, :class => "btn btn-default" do -%>
      Cancel
      <% end -%>
      <% if f.object.new_record? -%>
        <%= submit_tag "Create relationship type", :class => "btn btn-primary" %>
      <% else -%>
        <%= submit_tag "Save changes", :class => "btn btn-primary" %>
      <% end -%>
    </div>
  </div>
</div>
