<script type="text/javascript">
  Resource.model("RelationshipType", { prefix: '<%= project_path(@project) %>', format: 'json' });
</script>

<p><%= link_to "<- Back to #{@project.name}", project_path(@project) %></p>

<h1><%= jipe_editor(@relationship_type, "name") %></h1>

<p>Connects <%= link_to @relationship_type.left_template.name, 
                        doc_template_path(@project, @relationship_type.left_template) %>
with <%= link_to @relationship_type.right_template.name, 
                 doc_template_path(@project, @relationship_type.right_template) %></p>

<h2>Phrasing</h2>

<ul class="itemlist">
  <li class="odd">
    <%= image_tag "relationship_type.png" %>
    <b><%= @relationship_type.left_template.name %></b>
    <%= jipe_editor(@relationship_type, "left_description") %>
    <b><%= @relationship_type.right_template.name %></b>
  </li>
  <li class="even">
    <%= image_tag "relationship_type.png" %>
    <b><%= @relationship_type.right_template.name %></b>
    <%= jipe_editor(@relationship_type, "right_description") %>
    <b><%= @relationship_type.left_template.name %></b>
  </li>
</ul>
